@model EmailService.Models.StatisticsAndUsers
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Users</title>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
<h2>Here is the list of Users</h2>
<table class="table table-sm table-striped table-bordered">
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th>is Admin</th>
</tr>
</thead>
<tbody>
@foreach (EmailService.Models.User r in Model) {
<tr>
<td>@r.Name</td>
<td>@r.Email</td>
<td>@if(r.Admin == true){
    @:Yes
} else {
    @:No
}</td>
</tr>
}


</tbody>
</table>
<h3>Statistics</h3>
<label> Tasks completed: @Model.countOfTriggers</label>
<br>
<label> Completed today: @Model.todayTriggers</label>
</div>
</body>
</html>